h1 {
    font: bold 30px/50px "Trebuchet", sans-serif; 
    text-align: center;
    padding-bottom: 40px;
}

#container {
    max-width: 980px;
    margin: 50px auto;
}

#videos a {
    display: block;
    width: 23%;
    margin: 2% 1%;
    float: left;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}

#videos a:hover {
    opacity: 0.7;   
}

#videos a img { 
    width: 100%;
    height: auto;
}

#overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#80000000)"; 
    background: rgba(0,0,0, 0.8); 
    position:fixed; 
    top: 0; 
    right: 0; 
    left:0; 
    bottom: 0; 
    width: 100%; 
    height: 100%; 
    z-index: 99999; 
    display: none;
}

#overlay .modal {
    background: #fff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.9);
    border-radius: 5px;
    width: 90%;
    margin: 100px auto;
    max-width: 800px;
    min-height: 100px;
    position: relative;
    padding: 30px 20px 15px;
}

#overlay .modal #close {
    color: #333;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

#overlay .modal #close:hover {
    color: #666;   
}

#overlay iframe {
    width: 100%;
}

#overlay #share { 
    margin: 15px 0 0 0;
}

#overlay #share i {
    color: #fff;
    text-align: center; 
    background: #333;
    border-radius: 250px;
    padding: 5px;
    width: 16px;
}

#overlay #share i:hover {
    background: #666;   
}

#overlay #share a {
    text-decoration: none;   
}